# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Build output
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock