services:
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data_itn4_0:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    networks:
      - monitor-network

  exporter:
    build:
      context: .
      dockerfile: Dockerfile.exporter
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - monitor-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PROMETHEUS_URL=http://prometheus:9090
    depends_on:
      - prometheus
      - exporter
    restart: unless-stopped
    networks:
      - monitor-network

networks:
  monitor-network:
    driver: bridge

volumes:
  prometheus_data_itn4_0: